"eslintConfig": {
    "env": {
      "browser": true,
      "commonjs": true,
      "es2021": true
    },
    "extends": [
      "prettier",
      "plugin:react/recommended",
      "plugin:react-hooks/recommended"
    ],
    "parserOptions": {
      "ecmaVersion": "latest",
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "plugins": [
      "unused-imports",
      "react",
      "react-hooks",
      "react-refresh",
      "react-compiler",
      "@emotion"
    ],
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "ignorePatterns": [
      "node_modules"
    ],
    "rules": {
      "react-compiler/react-compiler": "error",
      "react-refresh/only-export-components": "warn",
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "warn",
      "react/prop-types": "off",
      "react/react-in-jsx-scope": "off",
      "react/no-unknown-property": "off",
      "react/jsx-curly-spacing": [
        "warn",
        {
          "when": "never",
          "children": {
            "when": "never"
          }
        }
      ],
      "max-len": [
        "error",
        240
      ],
      "require-jsdoc": "off",
      "valid-jsdoc": "off",
      "quote-props": [
        "warn",
        "consistent"
      ],
      "arrow-parens": [
        "warn",
        "as-needed"
      ],
      "comma-dangle": [
        "warn",
        "only-multiline"
      ],
      "array-bracket-spacing": [
        "warn",
        "never"
      ],
      "computed-property-spacing": [
        "warn",
        "never"
      ],
      "no-unused-vars": "off",
      "unused-imports/no-unused-imports": "error",
      "unused-imports/no-unused-vars": [
        "warn",
        {
          "vars": "all",
          "varsIgnorePattern": "^_",
          "args": "after-used",
          "argsIgnorePattern": "^_"
        }
      ]
    }
  }